.container  {
  font-size: 14px;
  line-height: 1.2;
  border-top: 1px solid #2F2F2F;
  padding: 15px 0;
}
.title {
  color: #494949;
  text-transform: uppercase;
  margin-bottom: 5px;
}
.value {
  color: white;
}