.container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
}
.item {
  cursor: pointer;
  transition: transform .2s;
  border: 4px solid transparent;

  position: relative;
  overflow: hidden;
  padding-top: 140%; // poster ratio 1x1.4
  img {
    display: block;
    position: absolute;
    z-index: 5;

    width: 100%;
    left: 0;
    top: 0;
  }
  &:focus {
    transform: scale(1.1);
    border-radius: 5px;
    border-color: #FF7800;
    outline: none;
    position: relative;
    z-index: 10; // fix for animation
  }
}